@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap';
body {
  margin: 0;
  background: #242B33;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.rome-number {
  font-family: "Playfair Display";
  color: #fff;
  opacity: 2%;
  font-size: 400px;
  position: absolute;
  right: -10%;
  bottom: -100%;
  font-weight: 600;
}

.header {
  font-family: "Raleway";
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 10;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content nav {
  display: flex;
  gap: 40px;
}
.header__content nav a {
  color: #fff;
}
.header__menu {
  display: none;
}
.header__menu img {
  max-width: 50px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
.hero {
  background: url(../assets/img/hero-img.jpg) center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero h1 {
  color: #D4C17F;
  font-size: 48px;
  font-family: "Playfair Display";
  max-width: 556px;
}
.hero__content {
  text-align: center;
}
.hero-mouse {
  margin-top: 100px;
}
.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #fff;
  font-family: "Raleway";
  margin-top: 200px;
}
.hero__bottom span {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 425px) {
  .hero {
    align-items: flex-start;
    padding-top: 100px;
  }
  .hero__bottom {
    margin-top: 80px;
    gap: 40px;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .hero h1 {
    font-size: 36px;
  }
}
.features {
  color: #fff;
  font-family: "Roboto";
  padding: 150px 0;
}
.features__content {
  display: flex;
  justify-content: center;
  gap: 70px;
  position: relative;
  flex-wrap: wrap;
}
.features__item {
  width: 15%;
  text-align: center;
}
.features__item p {
  margin-top: 53px;
}

@media screen and (max-width: 1024px) {
  .features .rome-number {
    right: 0;
  }
}
@media screen and (max-width: 425px) {
  .features .rome-number {
    bottom: 0;
  }
  .features__item {
    width: 40%;
  }
}
.forms {
  padding-top: 180px;
  padding-bottom: 180px;
  background: url(../assets/img/bg-forms.png) center;
}
.forms__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 770px) {
  .forms__container {
    flex-direction: column;
  }
}
.forms__option h2 {
  font-family: "Playfair Display";
  color: #d4c17f;
  font-size: 36px;
}
.forms__option p {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #fff;
  max-width: 535px;
}
.forms__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Raleway";
  max-width: 540px;
}
@media (max-width: 770px) {
  .forms__inner {
    flex-direction: column;
  }
}
.forms__inner input {
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  border: none;
  text-align: center;
  padding: 12px 0px;
  padding-right: 0;
  width: 255px;
  box-sizing: border-box;
}
.forms__inner input::-moz-placeholder {
  color: #bebebe;
}
.forms__inner input::placeholder {
  color: #bebebe;
}
.forms__inner span {
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
  width: 255px;
}
.forms__inner button {
  background: #d4c17f;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 54px;
}

.video__content {
  display: flex;
  justify-content: center;
}

.video__src {
  width: 60%;
  height: 650px;
}
@media screen and (max-width: 768px) {
  .video__src {
    height: 500px;
  }
}
@media screen and (max-width: 425px) {
  .video__src {
    height: 300px;
    width: 300px;
  }
}

.apartment h2 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  color: #d4c17f;
  margin-bottom: 100px;
}
.apartment p {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 24px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.apartment__item {
  position: relative;
  width: 45%;
}
.apartment__item img {
  max-width: 100%;
}
.apartment__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 640px) {
  .apartment__item {
    width: 100%;
  }
  .apartment p {
    bottom: 20px;
  }
  .apartment__block {
    gap: 35px;
  }
}
.map {
  margin-top: 180px;
}
.map h2 {
  font-family: "Playfair Display";
  font-size: 36px;
  margin-bottom: 100px;
  color: #D4C17F;
}
.map iframe {
  width: 100%;
}
.map__content {
  position: relative;
}
.map__content .rome-number {
  left: -125px;
  top: 200px;
  right: auto;
  bottom: auto;
  line-height: 0;
}

.footer {
  background: #2d343c;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__content li {
  font-family: "Raleway";
  color: #ffffff;
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
}
.footer__content span {
  color: #d4c17f;
}
@media screen and (max-width: 425px) {
  .footer__content {
    flex-direction: column;
    gap: 30px;
  }
}/*# sourceMappingURL=index.css.map */