.forms {
  padding-top: 180px;
  padding-bottom: 180px;
  background: url(../assets/img/bg-forms.png) center;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    @media (max-width: 770px) {
      flex-direction: column;
    }
  }
  &__option {
    // max-width: 535px;
    h2 {
      font-family: "Playfair Display";
      color: #d4c17f;
      font-size: 36px;
    }
    p {
      font-family: "Raleway";
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      color: #fff;
      max-width: 535px;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: "Raleway";
    max-width: 540px;
    @media (max-width: 770px) {
      flex-direction: column;
    }
    input {
      background: rgba($color: #fff, $alpha: 0.2);
      font-size: 14px;
      border: none;
      text-align: center;
      padding: 12px 0px;
      padding-right: 0;
      width: 255px;
      box-sizing: border-box;
    }
    input::placeholder {
      color: #bebebe;
    }
    span {
      font-size: 13px;
      color: #e7e7e7;
      text-align: center;
      width: 255px;
    }
    button {
      background: #d4c17f;
      color: #ffffff;
      font-size: 16px;
      padding: 12px 54px;
    }
  }
}
